*{
    box-sizing: border-box;
}

body { 
    
    font-family: tahoma;
    margin: 0;
    padding: 100px;
    
}

header{
    padding: 5px;
    background-color: aqua;
    text-align: center;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

section{
    font-size: 20px;
    flex: 70px;
    padding: 20px;
    background-color: gray;
    border: 1px solid black;
    
}

footer {
    font-weight: bold;
    padding: 1px;
    text-align: center;
    background-color: pink;
    border: 1px solid black;
}

.resultados {
    color: white;
}

@media screen and (max-width: 700px) {
    .row{
        flex-direction: column;
    }
}

#boton{
    display: flex;
    justify-content: center;
    
}

.boton{
    font-size: 20px;
    border-radius: 1em;
    margin-left: 1%;
}

#etiquetaValor {
    display: flex;
    justify-content: center;
       
}

.etiqueta1{
    font-size: 20px;
    text-align: center;
    border-radius: 1em;
    background-color: white;
}


.etiquetas2 {
    font-weight: bold;
    display: flex;
    justify-content:center;
}
